#Python stuff
venv
__pycache__
__pycache__/*
*.pyc
.vscode
html
test.csv
trades.csv
debug.log
#Server stuff
.env
/node_modules
/server/node_modules
yarn-error.log
yarn.lock
debug.log
/utils/server_venv
